<div xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:fo="http://typo3.org/ns/Ps14/Foundation/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:section name="Main">
		<f:if condition="{data.bodytext}">
			<f:render partial="Content/Bodytext" arguments="{bodytext: data.bodytext}" />
		</f:if>

		<f:if condition="{elements}">
			<ul class="ce-kist-values__container">
				<f:for each="{elements}" as="element" iteration="iterator">
					<li class="ce-kist-values__item" id="ce-kist-values__item--{element.data.uid}" data-color-scheme="{element.data.tx_kist_values_color_scheme}">
						<f:render section="Item" arguments="{record: data, data: element.data, element: element, iterator: iterator}" />
					</li>
				</f:for>
			</ul>

			<f:render partial="KistValues/Modal/Main" section="Main" arguments="{_all}" />
		</f:if>
	</f:section>

	<f:section name="Item">
		<button aria-controls="ce-kist-values__modal--{data.uid}">
			<f:if condition="{element.media.0}">
				<f:render partial="Media/Main" section="Main" arguments="{
					file: element.media.0,
					settings: '{fo:settings.get(extension: \'Ps14KistValues\', path: \'images.listing\')}'
				}" />
			</f:if>

			<f:if condition="{element.data.title}">
				<div class="ce-kist-values__item-title">
					<f:switch expression="{record.tx_foundation_elements_header}">
						<f:case value="2">
							<h2>{element.data.title}</h2>
						</f:case>
						<f:case value="3">
							<h3>{element.data.title}</h3>
						</f:case>
						<f:case value="4">
							<h4>{element.data.title}</h4>
						</f:case>
						<f:defaultCase>
							{element.data.title}
						</f:defaultCase>
					</f:switch>
					</div>
			</f:if>
		</button>
	</f:section>
</div>